*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 7vh;
    width: 100%;
    background-color: rgba(65, 65, 65, 1);
    display: flex;
    align-items: center;
    
}

.header-logo{
   display: flex;
    margin-left: 1vh;
}

.header-titulo{
    font-size: 32px;
    color: white;
    padding: 16px;
}

.ranking{
    display: flex;
    margin-left: 35vw;
    color: white;
    opacity: 0.6;
}

.ranking a {
    text-decoration: none;
    color: inherit; /* Herda a cor do texto do pai */
    opacity: 0.6; /* Mantém a opacidade que estava antes */
}




/* #pesquisar{
    display: flex;
    margin-left: 35vw ;
    width: 250px;
    height: 30px;
    background-color: rgba(217, 217, 217, 1);
    opacity: 0.7;
} */
.search-container {
    display: flex;
    margin-left: 32vw ;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    opacity: 0.7;
    padding: 8px;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}

.search-container input {
    border: none;
    background: none;
    color: white;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 16px;
}

.search-container input::placeholder {
    color: #bbb;
}

.search-container .icon {
    color: white;
    margin-right: 8px;
}

main {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.animes-ranking {
    font-size: 32px; /* Tamanho grande para destaque */
    font-weight: bold; /* Deixa o texto mais forte */
    text-transform: uppercase; /* Converte para caixa alta */
    color: white; /* Mantém a cor branca */
    text-align: left; /* Alinha à esquerda */
    margin: 20px 0 10px 15px; /* Remove o grande espaçamento inferior */
}


#anime-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    max-width: 100%; 
    overflow-x: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
}

.anime-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; /* Tamanho fixo dos cards */
    text-align: center;
    color: white;
}

.anime-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.anime-card img:hover {
    cursor: pointer;
}

.anime-card h3 {
    font-size: 14px;
    margin-top: 8px;
    width: 100%;
}

.anime-card h3:hover {
    cursor: pointer;
}

.anime-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.anime-detalhes img {
    width: 300px;
    border-radius: 10px;
}

.anime-detalhes p {
    max-width: 80%;
    margin-top: 10px;
}

.anime-detalhes button {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.anime-detalhes button:hover {
    background-color: darkred;
}
